/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* *{
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    color: #393939;
    background-color: lightpink;
} */

body {
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
  padding:10px;
  background-color: lightpink;

}

.wholeApp {
  width: 80%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  /* float: left; */
}
.home{
  background-color: lime;
  border: 3px solid darkblue;
  text-align: center;
  padding: 10px;
}
.about {
  background-color: mediumpurple;
  /* border: solid 2px red; */
}

img {
  display: block;
  margin:auto;
  width: 60%;
}
button {
  padding: 8px;
  margin: 8px;
  border: 2px solid mediumpurple;
  border-radius: 0.6em;
  font-size: 20px;
  background-color: transparent;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;;
}
button:focus {
  outline: 0;
}
button:hover {
  color: white;
  box-shadow: 0 0 40px 40px mediumpurple inset;
}
